.containeradmin{
    background-color: white;
    height: 70vh;
    margin-top: 10vh;
    width: 80vw;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#adminsections{
    min-height: 80%;
    min-width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.adminsection{
    -webkit-box-shadow: 0px 0px 35px -9px rgba(0, 0, 0, 0.159);
    -moz-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.159);
    box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.159);
    border: 1px solid rgba(0, 0, 0, 0.077);
    width: 45%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titlesec{
    font-size: 25px;
}
.listadmin{
    height: 80%;
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.listelement{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -9px rgba(0, 0, 0, 0.159);
    -moz-box-shadow: 0px 0px 15px -9px rgba(0,0,0,0.159);
    box-shadow: 0px 0px 15px -9px rgba(0,0,0,0.159);
    border: 1px solid rgba(0, 0, 0, 0.205);
    height: 28%;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.listelement h4{
    font-weight: light;
}
.iconadmin{
    height: 50px;
    width: 50px;
}
.cabecera{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.buttontable{
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: 10px;
    display: flex;
    align-items: center;
    
}
.tablacuerpo{
    width: 60%;
    margin-top: 20px;
    overflow-y: auto;
    height: 70%;
}
.tablaadmin{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.177);
    border-radius: 8px;
    border-collapse: collapse;
    
}
.titulostabla{
    height: 40px;
    color: #212529;

}
table tr th{
    background-color: rgb(255, 184, 184);

    
}
table tr{
    background-color: rgba(250, 217, 217, 0.323);
    height: 30px;
    
}
tr:nth-child(even){
    background-color: rgba(230, 230, 230, 0.116);

}
.iconstable{
    cursor: pointer;
    height: 20px;
    width: 20px;

}
.iconostd{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.iconostd img{
    margin-top: 5px;
    transition: 100ms;
}
.iconostd img:hover{
    transform: scale(1.2);
    transition: 200ms;
}
.formcrud{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.formcrud select{
    text-align: center;
    width: 150px;

}
.formcrud input[type=date], [type=time]{
    width: 150px;
}
.formcrud > :not(marquee){
    margin-top: 10px;
}
.ventanaemergente{
    background-color: white;
    height: 50vh;
    width: 70vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}