body {
  text-align: center;
  color: #212529;
  background-image: url("../assets/img/header-bg.webp");
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #212529;
}

#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-size: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 700;
}
#mainNav .navbar-brand {
  color: var(--bs-primary);
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}
#mainNav .navbar-brand img {
  height: 1.5rem;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95rem;
  color: #fff;
  letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: var(--bs-primary);
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
  }
  #mainNav .navbar-brand img {
    height: 2rem;
    transition: height 0.3s ease-in-out;
  }
  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }

  #mainNav.navbar-shrink .icon {
    scale: 4.3;
  }

  #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tickets {
  padding: 1rem;
  background: white;
  border-radius: 3mm;
  overflow: auto;
}

.ticket-selector {
  background: rgb(243, 243, 243);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.2rem;
}

.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.title {
  font-size: 1rem;
  font-weight: 600;
}

.seats {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 150px;
  position: relative;
}

.status {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.seats::before {
  content: "Escenario";
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 3rem;
  background: rgb(186, 81, 16);
  border: 1px solid #000;
  border-radius: 3mm 3mm 0 0;
  border-top: 0.3mm solid rgb(180, 180, 180);
}

.item {
  font-size: 1rem;
  position: relative;
}

.item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translate(0, -50%);
  width: 1rem;
  height: 1rem;
  background: rgb(255, 255, 255);
  outline: 0.2mm solid rgb(120, 120, 120);
  border-radius: 0.3mm;
}

.item:nth-child(2)::before {
  background: rgb(180, 180, 180);
  outline: none;
}

.item:nth-child(3)::before {
  background: rgb(28, 185, 120);
  outline: none;
}

.all-seats {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 0.5rem;
  margin: 60px 0;
  margin-top: 20px;
  position: relative;
  width: 100%;
}

.seat {
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  border-radius: 0.5mm;
  outline: 0.3mm solid rgb(180, 180, 180);
  cursor: pointer;
}

.all-seats input:checked + label {
  background: rgb(28, 185, 120);
  outline: none;
}

.booked .seat {
  background: rgb(180, 180, 180);
  outline: none;
  cursor: default;
}

input {
  display: none;
}

.timings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.dates {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dates-item {
  width: 50px;
  height: 40px;
  background: rgb(233, 233, 233);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
  border-radius: 2mm;
  cursor: pointer;
}

.day {
  font-size: 12px;
}

.times {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.time {
  font-size: 14px;
  width: fit-content;
  padding: 7px 14px;
  background: rgb(233, 233, 233);
  border-radius: 2mm;
  cursor: pointer;
}

.timings input:checked + label {
  background: rgb(28, 185, 120);
  color: white;
}

.price {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
}

.total span {
  font-size: 0.6rem;
  font-weight: 400;
}

.price button {
  background: rgb(60, 60, 60);
  color: white;
  font-size: 14px;
  padding: 7px 14px;
  border-radius: 2mm;
  outline: none;
  border: none;
  cursor: pointer;
}