body {
  text-align: center;
  color: #212529;
  background-image: url("../assets/img/header-bg.webp");
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.Titulo{
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3vw;
  margin-bottom: 50px;
}

.formaccount{
  background-color: white;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  height: 80vh;
}
.form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input{
  height: 35px;
  margin-bottom: 5px;
  margin-top: 5px;
  min-width: 25vw;
}
input[type=text], input[type=email], input[type=password]{
  border:none;
  border-bottom: 2px solid #d80101;
}
.enviar{
  border-radius: 5px;
  background-color: #ff0000;
  color: white;
  height: 45px;
  width: auto;
  min-width: 10vw;
  margin-top: 50px;
  border: none;
}
#sincuenta{
  margin-top: 5vh;
}
.logoform{
  height: 150px;
  width: 150px;
  position: fixed;
  left: 5%;
  top: 5%;
}
.regresar{
  
  position: fixed;
  right: 5%;
  bottom: 5%;
}
@media (max-width: 820px) {
  .formaccount{
    width: 80vw;
  }
  .logoform{
    height: 100px;
    width: 100px;
    position: fixed;
    left: 5%;
    top: 5%;
  }
}
